html, #page-one, #page-two, #page-three, #page-four{
	height: 100%;
	/*overflow: hidden;*/
}

body{
	/*background: #f2f1ed url(images/texture-light.png);
    background-size: 29.75em;*/
	height: 100%;
	background: #eff0e5;

	
   /* background: #f2f2f2;*/
}

ol, ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: block; 
	font-size: 0;
}

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

h2{
	font: normal 26px/36px PTSansBlod, sans-serif;
	margin: 15px 0;
}
h3{
	font: normal 24px/24px   PTSansRegular, sans-serif;
	margin: 15px 0;
}

h1{
	font-family: PTSansRegular;	
}

a:hover {color:#afb198; }
a{text-decoration: none;
	color: #fff;
}
a:link {
	color: #ec005e;
}
input{
	border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    
    /*width: 15px;
    height: 12px;*/
}



@media only screen and (min-device-width : 320px) and (max-device-width : 900px){
.Raz{
font: 	bold 28px/10px Exo2, ArialBlack, sans-serif;
    text-transform: uppercase;
}


}
/*@media (max-width: 800px) {
  .Newblock {
    min-width: 400px;
    max-width:400px;}
}*/
.ND{
	background: #dedecd;
	height: 100px;
}

.left{float: left;}

.right{float: right;}

.container{
    
	margin: 0 auto;
}

.logo{
	display: flex;
	justify-content:flex-start;
	align-items:baseline;
	padding: 25px 10px;
	padding-left: 30px;
	background: #ff6c5c;
	float: left; 
	font-size: 
	border-bottom: 1px solid #ebf31b;
}


.menu{
	background-image: url(images/MenuWhite.svg);
	background-repeat: no-repeat;
	background-position: left; 
	width: 32px;
	height: 32px;
}

.menu_block{
	margin: 20px 40px 20px 40px;
}
.Poisk{
	padding-right: 40px; 
	background-image: url(images/Poisk.png);
	background-repeat: no-repeat;
	background-position: left; 
	width: 25px;
	height: 25px;
}
.header{
	
	height: 500px;
	background: #fff url(images/fon1.png) no-repeat center;
	background-size: cover;
}

.az{
	/*border-bottom: 1px solid #ebf31b;*/
	color: #fff;
	font: 15px/15px PTSansBlod, Arial, sans-serif;
	text-align: center;
	
	
}
.az:before{

	 
	
	 width: 100%;
	border-bottom: 1px solid #ebf31b;
}
.Logo{
	z-index: 1;
	/*background: #212224;*/
	color: rgba(255,255,255,1);
	font: 18px/17px PTSansBlod, ArialBlack, sans-serif;
	text-align: center;
	padding:10px;
	
}
.line_head{
	    position: relative;
    border-bottom: 1px solid #fff;
    top: -9px;
    z-index: 1;
}
.head_line{
	    width: 150px;
    z-index: 2;
    background: #212224;
    position: relative;
    text-align: center;
    margin: auto;
}

nav{

	
	
	font: bold 16px/16px Exo2, ArialBlack, sans-serif;
	text-transform: uppercase;
	color: #101012;
	/*font: 18px/17px PTSansBlod, ArialBlack, sans-serif;*/
/*	background: #ec005e;*/
   
	display: flex;
	flex-direction:row;
	justify-content:center;
	

}
.form-control{
	background-color: #dedecd;
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    color: #606468;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 200px;
    height: 50px;
}
.Zn{

	height: 50px;
	width: 50px;
	background-color: #c7c7b5;
	
}
.Zn_imagesEmail{
	width: 30px;
	height: 30px;
	background-image: url(images/Profile1.svg);
	background-repeat: no-repeat;
	background-position: center; 
	margin:10px;

}
.Zn_imagesKey{
	width: 30px;
	height: 30px;
	background-image: url(images/Key.svg);
	background-repeat: no-repeat;
	background-position: center; 
	margin:10px;

}
.col-md-6{
	display: flex;
	flex-direction: row;
}

.FotoProf{
clip-path: circle(40% at 50% 50%);
padding: 0;
margin: auto;
width: 100%;
object-fit: cover;
max-height: 200px;
min-height: 200px;
min-width: 200px;
max-width: 200px;
}
.Priv{
	height: 100%;
	    min-height: 100%
}
.Pri{
	    display: table;
    position: relative;
    z-index: 2;
    top: 0;
    width: 100%;
        display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    z-index: 1;
}


.b-container{
	position: relative;
	z-index: 1;
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
	z-index: 5;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
   background: #f2f1ed ;
    
        
  
   
    overflow:hidden;
    position:fixed;
    top:0px;
    height: 100%;
    width: 300px;
    box-shadow: 0px 0px 10px #000;
	

}
.b-popup-content{
	
	background: #dedecd;
	    text-align: right;
	   padding-top: 10px;

}

.Close_{
	
	font: bold 18px/17px Exo2, ArialBlack, sans-serif;
	text-transform: uppercase;
	color: #101012;

	padding:  10px 20px 0  20px;

}
co_recipe{
	display: flex;
	justify-content: flex-end;

}
.Profile_{
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
   background: #dedecd;
    background-size: cover;
}
.Foto_profile{
	
	
	width: 200px;
	height: 200px;
	margin: auto;
}
.Profile_block{
	
	height: 270px;
}
.Text_profile{
	text-align: center;
	padding: 20px 0 0 0;
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
    font:  18px/17px Exo2, ArialBlack, sans-serif;
	text-transform: uppercase;
	color: #101012;
    
    
	
}

.Menu_blocks{
	font: 15px/15px PTSansBlod, Arial, sans-serif;
	display: flex;
	

	margin: 20px 0 0 20px;
}

.user_bar_text{
	font: 14px/14px Exo2, PTSansBlod, Arial, sans-serif;
	color: #101012;
	text-align: center;
	padding: 10px 0 0 0;
	text-transform: uppercase;
}
.add_{
	
	font: 15px/15px Exo2, Arial, sans-serif;
	color: #fff;
	padding: 9px 0 0 10px;
}
.add_images{
	background-image: url(images/AddWhite.svg);
	background-repeat: no-repeat;
	background-position: center; 
	width: 32px;
	height: 32px;
}
.men{
display: flex;
justify-content: flex-start;
	padding: 10px 50px 10px 20px;
}
.nav_bar{
	z-index: 1;
/*	background: #ec005e;*/
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	
	
}
.Poisk_recipe{
	text-transform: uppercase;
	padding: 0.8em;
	color: #000;
	font: 15px/15px PTSansBlod, Arial, sans-serif;
/*	background: #fff;*/
	display: flex;
	flex-direction:row;
	justify-content:flex-end;
	text-align: center;
}
.Poisk_recipe > div{
	padding: 5px 20px 0 20px;

}

.Menu_recipe > div{
padding: 0 20px 0 20px;

}
.Bookmarks{
	background-image: url(images/Bookmarks.svg);
	background-repeat: no-repeat;
	background-position: center; 
	width: 32px;
	height: 32px;
	margin: 0 10px 0 10px;
}

.Bookmarks_d{
	font: 15px/15px PTSansBlod, Arial, sans-serif;
	display: flex;
	flex-direction: row-reverse;
	
	margin: 0 0 0 10px;
}
.Bookmarks_d span{
	padding: 9px 0 0 10px;
}
.Images_blocks{
padding: 0;
margin: auto;
width: 100%;
object-fit: cover;
max-height: 300px;
    min-height: 50px;
    min-width: 50px;
    max-width: 500px;

}
.SpisokRecepie{
	margin-top: 100px;
	max-width: 750px;
	margin: auto;
}
.Newblock_images{
padding: 0;
margin: auto;
width: 100%;
object-fit: cover;
max-height: 200px;
min-height: 200px;
min-width: 200px;
max-width: 511px;
}

.Bacground_block{

    display: flex;
   
    background: #fff;
    vertical-align: top;
}
.Block_Search{
font: 13px/13px PTSansBlod, Arial, sans-serif;
height: 34px;
border: 1px solid #fff;

text-transform: uppercase;

}
.ProfImage{
	margin: 10px;
	text-align: center;
	font: 20px/20px Exo2, Arial, sans-serif;
}
.ProfButton{
	display: flex;
	flex-direction: column;
	justify-content: center; 
}
.RadiusImage{
	/*clip-path: circle(40% at 50% 50%);*/
}
.panel-body{
	/*display: flex;
	flex-direction: column;
	justify-content: center;
	width: 350px;
    height: 400px;*/
    margin-top: 20px;
   /* background: #dedecd;
    border-radius: 5px;*/
}
.D{

    background-color: #fff;
	font: normal 12px  Arial, sans-serif;
    color: #fff; 
}
.D_{
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	background: #fff;
	max-height: 300px;
    min-height: 300px;
    min-width: 200px;
	
   
    height: 210px;

}
.btn {
  margin: auto;
  font-weight: 700;
  color: white;
 
  padding: .8em 1em calc(.8em + 3px);
  border: 0;
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 

.btn:hover { background: rgb(53, 167, 110); }

.btn:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.btn-primary{
	width: 250px;
}
.panel-heading{
	padding-top: 10px;
	margin: auto;
	text-align: center;
	
	font:  14px/14px  Exo2, Arial, sans-serif;
}
.ButtonProf{
	margin: auto;
	font-weight: 700;
  color: white;
 
  padding: .8em 1em calc(.8em + 3px);
  border: 0;
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
}
.ButtonSize{
	
	
	margin-top: 10px;
	width: 150px;
}
.Pass{
	margin-bottom: 5px; 
	font:  14px/14px  Exo2, Arial, sans-serif;
	color: #000;
	display: flex;
	flex-direction: row;
}
.PassText{
	padding-left: 10px;
	font:  14px/14px  Arial, sans-serif;
	color: #606468;
}
.BlockRegister{
	margin: auto;
	text-align: center;
	font:  14px/14px Exo2, Arial, sans-serif;

}
.VhodBlock{
	background-image: url(images/Vhod.svg);
	background-repeat: no-repeat;
	background-position: left; 
	width: 32px;
	height: 32px;
	margin: 0 10px 0 10px;
}
.BlockPanel{
	width: 300px;
	height: 300px;
}
.checkbox{
	
	font:  14px/14px Exo2, Arial, sans-serif;
	padding-bottom: 10px;
	

}

.control-label{
	font:  14px/14px Exo2, Arial, sans-serif;
	
}
.panel-default{
	margin-bottom: 20px;
}
.btn-success{
	margin: 20px;
}
.D_zag{
	text-align: right;
	text-transform: uppercase;
	font:  14px/14px  Exo2, Arial, sans-serif;
	padding: 20px;
}
.Bookmarks_{
	font: 15px/15px PTSansBlod, Arial, sans-serif;
	display: flex;
	flex-direction: row-reverse;
	border-left: 1px solid #ec005e;
	margin: 0 0 0 10px;
}
.Bookmarks_ span{
	padding: 9px 0 0 10px;
}
.Search{
	background-image: url(images/Search.svg);
	background-repeat: no-repeat;
	background-position: left; 
	width: 32px;
	height: 32px;
	margin: 0 10px 0 10px;
}
.Profile{
	background-image: url(images/Profile.svg);
	background-repeat: no-repeat;
	background-position: left; 
	width: 32px;
	height: 32px;
	margin: 0 10px 0 10px;
}

.Black_cpisok{
	background-image: url(images/Black.svg);
	background-repeat: no-repeat;
	background-position: left; 
	width: 32px;
	height: 32px;
	margin: 0 10px 0 10px;
}
.Ifrukt_cpisok{
	background-image: url(images/Ifrukt.svg);
	background-repeat: no-repeat;
	background-position: left; 
	width: 32px;
	height: 32px;
	margin: 0 10px 0 10px;
}
.Vihod_cpisok{
	background-image: url(images/Vihod.svg);
	background-repeat: no-repeat;
	background-position: left; 
	width: 32px;
	height: 32px;
	margin: 0 10px 0 10px;
}
.ListRecipe{
	background-image: url(images/SlideWhite.svg);
	background-repeat: no-repeat;
	background-position: left; 
	width: 10px;
	height: 10px;
}
.Menu_recipe{
text-transform: uppercase;
	padding: 0.8em;
	color: #000;
	
	background: #fff;
	display: flex;
	flex-direction:row;
	justify-content:flex-end;
}
.Mn{
	z-index: 1;
	/*background: #fff;*/
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	margin: 350px 9% 0 9%;
}
.Name_recipe{

    
	
    margin: auto;
	text-align: center;
	padding: 40px;

    
}
.row{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.line_recipe{
	
	margin: auto;
	
	border-bottom: 2px solid #988345;

}




.zag{
	
	font:  14px  Exo2,"Helvetica Neue",Helvetica,Arial;
	
    font-weight: bold;
    text-transform: uppercase;
}



.block{
	
	z-index: 1;
   /* background: #fff;*/
	
    
    margin: 5px 5px 10px 5px;
}
.Newblock{
	
  

    
    

}
.RecipesWeeks{
	
	margin-bottom: 30px;
	padding: 10px;
	text-align: center;
	  border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.RecipesWeeksZag{
	
    margin: 20px;
	font:  24px/24px Arial;
	
   color: #afb198;
	text-transform: uppercase;
}
.RecipesWeeksKZag{
	 color: #afb198;
	 margin: 20px;
	font:  10px/10px Arial;
}
.block_horizont{
   
	margin: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

    
    
}
.Reclama_2{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start; 
}
.blockpi{

       z-index: 5;
    position: relative;
    font-size: 0;
 
}
.block_horizon_Name_recipe{
	padding: 100px;
	margin: auto;
	text-align: center;
}
.block_img{
	 position: relative;
    font-size: 0;
}

.blockpi:hover{
	background-color: #173155;
	cursor: pointer;
}



.leftmenu{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	
	
	

}
.Newmenu{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	
	margin: 100px 0 100px 0;
	
}
.Newblock_text{
	z-index: 10;
	text-align: center;
	font: bold 45px/45px Exo2, ArialBlack, sans-serif;
	color: #fff;
	text-transform: uppercase;
    position: absolute;
    top: 35%;
    width: 100%;
    
	
}

.Newblock_menu{
	width: 100px;
	background: #988345;
}
