html{
	height: 100%;
}
body{
	height: 100%;
	background: #212225 url('images/Fon.svg') no-repeat center;
    background-size: cover;
}

ol, ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: block; 
	font-size: 0;
}

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

h2{
	font: normal 26px/36px PTSansBlod, sans-serif;
	margin: 15px 0;
}
h3{
	font: normal 24px/24px   PTSansRegular, sans-serif;
	margin: 15px 0;
}

h1{
	font-family: PTSansRegular;	
}

a, a:hover {text-decoration: none;}
a{
	color: #fff;
}
a:link {
	color: #fff;
}
a .user_bar_text {
	color: #000000;
}
@font-face {
	font-family: 'PTSansRegular';
	src: url('fonts/PTS55F_W.ttf') format('truetype');   
} 

@font-face {
    font-family: 'PTSansBlod';
    src: url('fonts/PTS75F_W.ttf') format('truetype');
}
/*@media (max-width: 1280px) {
	.user_bar_text {font-size: 0;}
}*/


.left{float: left;}

.right{float: right;}

.container{

	width: 960px;
	margin: 0 auto;
}

.logo{
	display: flex;
	justify-content:flex-start;
	align-items:baseline;
	padding: 25px 10px;
	padding-left: 30px;
	background: #ff6c5c;
	float: left; 

}
.menu{
	background-image: url('images/Menu.svg');
	background-repeat: no-repeat;
	background-position: left; 
	width: 32px;
	height: 32px;
}

.menu_block{
	padding: 0 40px 0 40px;
}
.Poisk{
	padding-right: 40px; 
	background-image: url('images/Poisk.png');
	background-repeat: no-repeat;
	background-position: left; 
	width: 25px;
	height: 25px;
}
.header{
	
	height: 570px;
	background: #fff url('images/fon1.png') no-repeat center;
	background-size: cover;
}

.az{
	/*border-bottom: 1px solid #ebf31b;*/
	color: #fff;
	font: 15px/15px PTSansBlod, Arial, sans-serif;
	text-align: center;
	
	
}
.az:before{

	 
	
	 width: 100%;
	border-bottom: 1px solid #ebf31b;
}
.Logo{
	z-index: 1;
	background: #212224;
	color: rgba(255,255,255,1);
	font: 18px/17px PTSansBlod, ArialBlack, sans-serif;
	text-align: center;
	padding:10px;
}
nav{

	text-transform: uppercase;
	padding: 0.8em;
	color: rgba(255,255,255,1);
	font: 18px/17px PTSansBlod, ArialBlack, sans-serif;
	background: #ec005e;
	display: flex;
	flex-direction:row;
	justify-content:center;
	

}





.b-container{
	position: relative;
	z-index: 1;
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
	z-index: 5;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    background-color: #fff;
    overflow:hidden;
    position:fixed;
    top:0px;
    height: 100%;
    width: 400px;
    box-shadow: 0px 0px 10px #000;
	

}
.b-popup-content{
	
	background: #212224;
	    text-align: right;
	   padding-top: 10px;

}

.Close_{
	
	font: 18px/17px PTSansBlod, ArialBlack, sans-serif;
	text-transform: uppercase;

	padding:  10px 20px 0  20px;

}
.D_recipe{
	display: flex;
	justify-content: flex-end;

}
.Profile_{
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
   background: #212224 url('images/Fon.svg') no-repeat center;
    background-size: cover;
}
.Foto_profile{
	background-image: url('images/Profile.svg');
	
	width: 200px;
	height: 200px;
	margin: 20px 0 0 30px;
}
.Profile_block{
	width: 260px;
	height: 270px;
}
.Text_profile{
	text-align: center;
	padding: 20px 0 0 0;
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
    font: 18px/17px PTSansBlod, ArialBlack, sans-serif;
    color: #fff;
    text-transform: uppercase;
    
	
}

.Menu_blocks{
	font: 15px/15px PTSansBlod, Arial, sans-serif;
	display: flex;
	

	margin: 20px 0 0 20px;
}

.user_bar_text{
	font: 14px/14px PTSansBlod, Arial, sans-serif;
	text-align: center;
	padding: 10px 0 0 0;
	text-transform: uppercase;
	color: #000;
}
.add_{
	
	font: 15px/15px PTSansBlod, Arial, sans-serif;
	color: #000;
	padding: 9px 0 0 10px;
}
.add_images{
	background-image: url('images/Add.svg');
	background-repeat: no-repeat;
	background-position: center; 
	width: 32px;
	height: 32px;
}
.men{

	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}
.nav_bar{
	z-index: 1;
	background: #ec005e;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	
	
}
.Poisk_recipe{
	text-transform: uppercase;
	padding: 0.8em;
	color: #000;
	font: 15px/15px PTSansBlod, Arial, sans-serif;
	background: #fff;
	display: flex;
	flex-direction:row;
	justify-content:flex-end;
	text-align: center;
}
.Poisk_recipe > div{
	padding: 5px 20px 0 20px;

}

.Menu_recipe > div{
padding: 0 20px 0 20px;

}
.Bookmarks{
	background-image: url('images/Bookmarks.svg');
	background-repeat: no-repeat;
	background-position: center; 
	width: 32px;
	height: 32px;
	margin: 0 10px 0 10px;
}

.Bookmarks_d{
	font: 15px/15px PTSansBlod, Arial, sans-serif;
	display: flex;
	flex-direction: row-reverse;
	
	margin: 0 0 0 10px;
}
.Bookmarks_d span{
	padding: 9px 0 0 10px;
}
.Images_blocks{
	width: 290px;
	height: 210px;
	background-size: cover;


}
.Block_Search{
font: 13px/13px PTSansBlod, Arial, sans-serif;
height: 34px;
border: 1px solid #fff;

text-transform: uppercase;

}
.D{
	
 
  
   
    
   
    background-color: #003366;
	font: normal 12px  Arial, sans-serif;
    color: #fff; 
}
.D_{
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	background: #fff;
	
   
    height: 210px;

}
.D_zag{
	text-align: right;
	text-transform: uppercase;
	font:  14px  PTSansblod;
	padding: 20px;
}
.Bookmarks_{
	font: 15px/15px PTSansBlod, Arial, sans-serif;
	display: flex;
	flex-direction: row-reverse;
	border-left: 1px solid #ec005e;
	margin: 0 0 0 10px;
}
.Bookmarks_ span{
	padding: 9px 0 0 10px;
}
.Search{
	background-image: url('images/Search.svg');
	background-repeat: no-repeat;
	background-position: left; 
	width: 32px;
	height: 32px;
	margin: 0 10px 0 10px;
}
.Profile{
	background-image: url('images/Profile.svg');
	background-repeat: no-repeat;
	background-position: left; 
	width: 32px;
	height: 32px;
	margin: 0 10px 0 10px;
}

.Black_cpisok{
	background-image: url('images/Black.svg');
	background-repeat: no-repeat;
	background-position: left; 
	width: 32px;
	height: 32px;
	margin: 0 10px 0 10px;
}
.Ifrukt_cpisok{
	background-image: url('images/Ifrukt.svg');
	background-repeat: no-repeat;
	background-position: left; 
	width: 32px;
	height: 32px;
	margin: 0 10px 0 10px;
}
.Menu_recipe{
text-transform: uppercase;
	padding: 0.8em;
	color: #000;
	
	background: #fff;
	display: flex;
	flex-direction:row;
	justify-content:flex-end;
}
.Mn{
	z-index: 1;
	background: #fff;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
}
.Name_recipe{

    
	width: 160px;
    margin: auto;
	text-align: center;
	padding-top: 15px

    
}
.line_recipe{
	padding-top: 100px;
	margin: auto;
	width: 160px;
	border-bottom: 1px solid #ff6c5c;

}




.zag{
	text-transform: uppercase;
	font:  14px  PTSansblod;
}

.pipes{
	font:  12px  PTSansRegular;
	text-transform: uppercase;
}

.lineslider{
	margin-top: -170px;
	background: url('images/niz.png') no-repeat left;
	background-size: cover;
	margin-left:-1000%; 
	height: 170px;
}

.block{
	z-index: 1;
background: #fff;
	margin-top: 20px;
    width: 290px;
    height: 430px;
}

.blockpi{
	

   
   
    
    height: 210px;
    background-color: #003366;
	font: normal 12px  Arial, sans-serif;
    color: #fff; 
}

.blockpi:hover{
	background-color: #173155;
	cursor: pointer;
}

.container1{
	width: 940px;
	margin: 0 auto;
	height: 170px;
}

.leftmenu{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: -265px;
	}

.text{
	padding-top: 25px;
	font: normal 36px/40px  Arial, sans-serif;
	padding-left: 330px;
	padding-right: 10px;
}



.text p{
	font: normal 15px/18px  Arial, sans-serif;
	text-align: justify;
	margin: 15px 0;
}

.text p:last-child{margin-bottom: 50px;}

.raw{
    font: bold 16px/16px  PTSantBlod, sans-serif;
    color: #999999;
    text-transform: uppercase;
}

.text li{
	font: normal 15px/30px  Arial, sans-serif;
	color: #000;
}

.text li:before {
    content:  "—";
    position: relative;
    left:-5px;
}

.nav a:hover{color: #daf893;}

.sertext{
	background-color: #b2b2b2; 
	height: 40px;
	margin-top: 80px; 
    text-align: center;
    padding-top: 7px;
}

.sertext p{
	font: 18px/17px PTSansBlod, ArialBlack, sans-serif;
	color: #fff;
	display: inline;
    border-bottom: 1px solid #fff;
}

.services{
	margin-right: 20px;
    float: left;
}

.services:hover  .dov {background-color: #60a4d3;}

.services:hover  .sertext {background-color: #3491d1;}

.payment{background-image:  url('images/oplata.png');}

.delivery{background-image: url('images/dostavka.png');}

.dov{
	margin-top: 20px;
	margin-right: 20px;
    float: left;
	background-color: #bebebe;
	
	background-repeat: no-repeat;
	background-position: center 18px;
	height: 120px;
	width: 140px;

}

.dov:last-child{margin-right: 0;}

.footer{
	background-color:#ececec;
	height: 80px;
	font: bold 13px/20px  Arial, sans-serif;
    color: #666666;
}

.foot{
	padding: 20px 10px;
	float: left;
}

.copy{padding: 20px 330px;}

.slider-box{
	text-align: center;
	margin-left:320px;
    margin-top: -240px;
    width:640px;
    height:300px;
    overflow:hidden;
}


.slider li{
	font: normal 12px  Arial, sans-serif;
    color: #fff;
    padding: 0px;
}


.wrapper {
	height: 100px;
	margin: 100px auto 0;
	position: relative;
	width: 580px;
}

.slider {
	margin-left: -20px;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	text-align: center;
	font:  18px PTSansRegular, sans-serif;
    color: #fff;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3
 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.wrapper > input {display: none;}

.wrapper .controls {
	margin-left: -20px;
	margin-top:-30px; 
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 10px;
	margin: 25px 8px 0 16px;
	position: relative;
	width: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 100%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3)
 {background: #cac9c9;}

.wrapper label:after {
	border: 2px solid #d8d8d8;
	background-color: #d8d8d8;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

